.containerCard {
    width: 200px;
    background: red;
    color: white;
    position: relative
}

.containerCardTitle {
    position: relative;
    padding: 0px 20px;
    top: -100px;
    color: white
}

.majorContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 2%
}